 .part1, .part2, .part3, .part4, .part5 {
   margin-top: 3%;
   margin-bottom: 3%;
   margin-left: 5%;
   margin-right: 5%;
   padding-left: 5%;
   padding-right: 5%;
   background-color: rgba(175, 200, 247, 0.966);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   align-items: center;
   border-radius: 15px;
 }
 body {
	background-color: #f0ecec;
  height: 500px; 
  }

 #name{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }
 
 table {
  border-collapse: collapse;
  width: 100%;
  
 }

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 5px solid #ddd;
}
 
 
 h1 { 
	color: rgb(8, 1, 95); 
	font-size: 40px; 
	text-align: center;
   }   

 p,ul { 
	color: rgb(63, 60, 63); 
	font-size: 20px; 
  text-align: center;
  font-family: verdana;
  }     

  iframe,image {
	display: block;
	margin: 0 auto;
 }  

 
